@import "bootstrap";
/* orange #e08a3d
 * bleu #89b3c1
 * vert #bfca74
 */
section {
	overflow:auto;
}

textarea {
	resize: vertical;
}

.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

.container{
  background-color:rgb(239, 239, 239);
  border-left: 25px solid #ffffff;
  border-right: 25px solid #ffffff;
  margin: 0 auto;
}

.container-header{
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(191, 202, 116) 0%, rgb(152, 165, 65) 100%);
    border-left: 0px;
    border-right: 0px;
}

.btn{
  color:white;
  background-color:#89b3c1;
  border-color: #577179;
}

.btn:hover{
  background-color:#577179;
}

body{
	padding-top: 40px;
	background-color: #89b3c1;
}

.center{
	text-align: center;
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6{
	line-height :1;
}

h1{
	font-size:3em;
	letter-spacing:-2px;
	margin-bottom: 30px;
	text-align:center;
}

h2{
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight:normal;
	color:#999;
}

p{
	font-size:1.1em;
	line-height:1.7em;
}

.deleteAll{
  background-color:red;
  float:right;
}

/* header */

#logo{
	float:left;
	margin-right:10px;
	font-size:1.3em;
	font-family: initial;
  color: #4E7A87;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding-top: 13px;
	font-weight: bold;
	line-height: 1;
	&:hover{
		color:#fff;
		text-decoration:none;
	}
}

nav{
  display:inline;
}
.nav li{
  float: left;
}

.nav a:hover{
    color: #bfca74;
  }
  
.nav .current a{
  color: white;
}
.current{
  background-color:#d17a39;

}
.nav a{
  color:white;
}

/* footer*/

footer{
	margin-top:45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#999;
	a{
		color : #555;
		&:hoover{
			color:#222;
		}
	}
	small{
		float:left;
	}
	ul {
		float:right;
		list_style:none;
		li {
			float:left;
			margin-left:10px;
		}
	}

}

/*custom*/


.form{
  width:40%;
  margin:auto;
}
.searchBox{
  width:20% !important;
  margin-left:2%;
}
.dropdownSearch{
    height: 41px;
  background: white;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding:10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul{
    list-style: none;
    margin:0 0 18px 0;
  }
}

.field_with_errors {
  /*@extend .control-group;*/
   /*@extend .error;*/
  label{
    color:red;
  }
}

/* Readers index*/
.readers{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-top:1px solid #111;
    &:last-child{
      border-bottom: 1px solid #111;
    }
  }
}

/*table reader on show page*/
.readerTable{
  th{
    font-weight:200;
    padding-right:20px;
    
  }
  
}
.leftCol{
      text-align:right;
    }